@tailwind base;
@tailwind components;
@tailwind utilities;

/* Basics like Line height, Title Spacing, etc */
* {
  line-height: 144%;
}

.bodybg{
  background-image: url(../public/AllBGs.png);
  background-position: top center;
  @apply bg-cover
}

.title{
  @apply tracking-[-2px] leading-[110%]
}
/* ----- */
.section{
  @apply px-4 md:px-8 xl:px-20 w-full lg:max-w-screen-lg xl:max-w-screen-xl
}

/* Gradient BG but sign up button */
.gradient-bg-1{
background: linear-gradient(to bottom right, #2CDBBE, #669CE9)
}

.membership{
  background-image: url(../public/membershipbg.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.btn-1{
  @apply py-4 px-8 text-center rounded-full
}
.shadowy-bg{
  background-image: url(../public/TopGainersBackground.png);
  @apply bg-cover bg-no-repeat
}