@tailwind base;
@tailwind components;
@tailwind utilities;

/* Basics like Line height, Title Spacing, etc */
* {
  line-height: 144%;
  scroll-behavior: smooth;
}

.blur-bg {
  backdrop-filter: blur(8px);
  background-color: rgba(0, 0, 0, 0.5);
}

.bodybg{
  background-image: url(../public/AllBGs.png);
}
.glowbg{
  background-image: url(../public/bodybg3.png);
  @apply bg-cover
}

.title{
  @apply tracking-[-2px] leading-[110%]
}
/* ----- */
.section{
  @apply px-4 md:px-8 xl:px-20 w-full lg:max-w-screen-lg xl:max-w-screen-xl
}

/* Gradient BG but sign up button */

.gradient-bg-1{
  background: linear-gradient(to bottom right, #2CDBBE, #669CE9);
}
.greenbg{
  background-image: url(../public/greenbg.png);
  @apply object-cover bg-cover
}
.redbg{
  background-image: url(../public/redbg.png);
  @apply object-cover bg-cover
}
.glow-shadow {
  box-shadow: 2px 2px 30px #178a8c27, -2px -2px 30px #3bffff27;
}
.glow-shadow-purple{
  box-shadow: 2px 2px 30px #ae00ff27, -2px -2px 30px #ff929227;
}
.glow-shadow-green{
  box-shadow: 2px 2px 30px #00ff4027, -2px -2px 30px #00ff4027;
}
.glow-shadow-red{
  box-shadow: 2px 2px 30px #ff000027, -2px -2px 30px #ff000027;
}
.glow-shadow-white{
  box-shadow: 2px 2px 30px #ffffff27, -2px -2px 30px #ffffff27;
}

.membership{
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 64px;
  @apply bg-slate-900
}

.btn-1{
  @apply py-4 px-8 text-center rounded-full
}

td, th, td, tbody, table {
  background: none !important;
}

.scroll-styling::-webkit-scrollbar {
@apply h-1 w-1 rounded-[12px]
}
.scroll-styling::-webkit-scrollbar-track{
@apply bg-slate-900 rounded-full
}
.scroll-styling::-webkit-scrollbar-thumb {
  @apply h-[3px] w-[3px] bg-slate-500 rounded-full
}