@tailwind base;
@tailwind components;
@tailwind utilities;

/* Basics like Line height, Title Spacing, etc */
* {
  line-height: 144%;
  scroll-behavior: smooth;

}

.blur-bg {
  backdrop-filter: blur(8px);
  background-color: rgba(0, 0, 0, 0.5);
}

.bodybg{
  background-image: url(../public/AllBGs.png);
}
.glowbg{
  background-image: url(../public/bodybg3.png);
  @apply bg-cover
}

.title{
  @apply tracking-[-2px] leading-[110%]
}
/* ----- */
.section{
  @apply px-4 md:px-8 xl:px-20 w-full lg:max-w-screen-lg xl:max-w-screen-xl
}

/* Gradient BG but sign up button */

.gradient-bg-1{
  background: linear-gradient(to bottom right, #2CDBBE, #669CE9);
}


.glow-shadow {
  box-shadow: 2px 2px 30px #178a8c27, -2px -2px 30px #3bffff27;
}

.membership{
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 64px;
  @apply bg-slate-900
}

.btn-1{
  @apply py-4 px-8 text-center rounded-full
}
.shadowy-bg{
  background-image: url(../public/TopGainersBackground.png);
  @apply bg-cover bg-no-repeat
}

.bubble-container {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-color: #3498db; /* Set your desired background color */
}

.bubble {
  position: absolute;
  background-color: #ffffff; /* Set your bubble color */
  width: 10px;
  height: 10px;
  border-radius: 50%;
  animation: floatBubble linear infinite;
}

@keyframes floatBubble {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20vh);
  }
  100% {
    transform: translateY(0);
  }
}

/* Create multiple bubbles using pseudo-elements */
.bubble::before,
.bubble::after {
  content: '';
  position: absolute;
  background-color: #ffffff; /* Set your bubble color */
  width: 10px;
  height: 10px;
  border-radius: 50%;
  animation: floatBubble linear infinite;
}

.bubble::before {
  animation-delay: -1s;
}

.bubble::after {
  animation-delay: 1s;
}